*::after::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(228, 241, 243, 0.78), rgba(244, 253, 252, 0.87));
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

nav {
    display: flex;
    justify-content: space-between;
}

.justify-left {
    width: 160px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
}

.justify-left h2 {
    margin: 0;
}

.circle-nav {
    width: 30px;
    height: 31px;
    border-radius: 50%;
    margin: none;
    background: rgba(116, 46, 13, 0.301);
}

.circle-nav img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0;
}

.justify-right {
    font-size: 18px;
    width: 330px;
    text-align: left;
    position: relative;
    right: 18vh;
    position: relative;
    left: -37vh;
}

.justify-right ul {
    display: flex;
    font-weight: 600;
}

.justify-right ul li {
    margin-right: -30px;
    list-style: none;
    border-right: 2px solid rgb(15, 30, 39);
    padding: 0 5px 0 5px;
}

.justify-right ul li:last-child {
    border-right: transparent;
}

#index,
#resume,
#projects,
.contact {
    text-decoration: none;
    color: rgb(15, 30, 39);
}


/*---------------------------------- for index main--------- ------------- */

main {
    display: flex;
}

.profile-img {
    width: 67vh;
    height: 67vh;
    padding: 23px;
    margin: 12px 1px 18px 70px;
}

img {
    width: 64vh;
    height: 64vh;
    border-radius: 50%;
}

.hello {
    margin: 77px 20px 20px 12px;
}

.hello h1 {
    font-size: 80px;
    margin: 0 0 20px 0;
}

.hello h3 {
    margin: 0;
}

.info-color {
    width: 400px;
    padding: 10px;
    display: flex;
}

.info-circle {
    padding: 9px;
    width: 80px;
    height: 80px;
    font-size: 15px;
    font-weight: 550;
    border-radius: 50%;
    text-align: center;
    margin: 9px;
}

.info-text {
    margin-top: 27px;
    margin-left: -29px;
}

.yellow {
    background: rgba(220, 235, 90, 0.795);
}

.red {
    background: rgba(235, 87, 87, 0.795);
}

.blue {
    background: rgba(103, 146, 226, 0.795);
}

a {
    text-decoration: none;
    padding: 40px;
    color: rgb(14, 16, 17)
}


/*------------------------ for the footer --------------------------*/

footer {
    display: flex;
    justify-content: space-between;
    background: rgba(146, 152, 153, 0.1);
    border-radius: 8px;
}

.foot-text {
    padding: 3px;
    margin: 0;
}

.foot-text h3 {
    padding: 4px;
    margin: 4px 0 0 0;
}

.foot-text p {
    padding: 2px;
    margin: 4px 0 3px 0;
}

@media screen and (max-weight: 650px) {
    .justify-left {
        width: 90px;
        font-size: 8px;
        font-weight: 500;
        display: flex;
    }
    .justify-left h2 {
        margin: 0;
    }
    .circle-nav {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: 2px;
        background: rgba(116, 46, 13, 0.301);
    }
    .circle-nav img {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        margin: 0;
    }
    main {
        display: grid;
    }
    .justify-left {
        width: 100px;
        font-size: 14px;
        font-weight: 600;
        display: flex;
    }
    .justify-left h2 {
        margin: 0;
    }
    .circle-nav {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin: none;
        background: rgba(116, 46, 13, 0.301);
    }
    .circle-nav img {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin: 0;
    }
    .justify-right {
        font-size: 13px;
        width: 220px;
        text-align: left;
        position: relative;
        right: 18vh;
        position: relative;
        left: -20vh;
    }
    .justify-right ul {
        display: flex;
        font-weight: 600;
    }
    .justify-right ul li {
        margin-right: -12px;
        list-style: none;
        border-right: 2px solid rgb(15, 30, 39);
        padding: 0 2px 0 2px;
    }
    .justify-right ul li:last-child {
        border-right: transparent;
    }
    .profile-img {
        width: 4vh;
        height: 4vh;
        padding: 3px;
        margin: 5px -1px 3px 7px;
    }
    img {
        width: 3vh;
        height: 3vh;
        border-radius: 50%;
    }
    .hello {
        margin: 10px 6px 6px 3px;
    }
    .hello h1 {
        font-size: 1px;
        margin: 0 0 6px 0;
    }
    .hello h3 {
        margin: 0;
    }
    .info-color {
        width: 178px;
        padding: 3px;
        display: flex;
    }
    .info-circle {
        padding: 2px;
        width: 30px;
        height: 30px;
        font-size: 8px;
        font-weight: 550;
        border-radius: 50%;
        text-align: center;
        margin: 9px;
    }
    .info-text {
        margin-top: 21px;
        margin-left: -23px;
    }
    .foot-text {
        padding: 1px;
        margin: 0;
    }
    .foot-text h3 {
        padding: 2px;
        margin: 2px 0 0 0;
    }
    .foot-text p {
        padding: 0.8px;
        margin: 2px 0 1.3px 0;
    }
}